<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Bdcrops_News::newss" resource="Bdcrops_News::newss" title="News newss" action="bdcrops_news_newss/index/index" module="Bdcrops_News" sortOrder="10"/><add id="Bdcrops_News::newss_list" resource="Bdcrops_News::newss" title="News Objects" action="bdcrops_news_newss/index/index" module="Bdcrops_News" sortOrder="10" parent="Bdcrops_News::newss" dependsOnModule="Bdcrops_News"/></menu>
</config>
