<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="note" id="bdcrops_note">
            <module name="Bdcrops_Note"/>
        </route>
    </router>
</config>
