<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bdcrops_Minventory::minventory" title="Micro Inventory" translate="title"
             module="Bdcrops_Minventory" sortOrder="100" parent="Magento_Catalog::inventory"
             action="minventory/product/index" resource="Bdcrops_Minventory::minventory"/>
    </menu>
</config>
