<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
<default>
     <payment>
         <newpayment>
             <active>1</active>
             <title>Newpayment</title>
             <order_status>pending_payment</order_status>
             <instructions>Instruction.</instructions>
             <payment_action>true</payment_action>
             <model>Bdcrops\Newpayment\Model\Newpayment</model>
             <group>offline</group>
         </newpayment>
     </payment>
</default>
</config>
