<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bdcrops_contacts" frontName="bdcrops_contacts">
            <module name="Bdcrops_Contacts" />
        </route>
    </router>
</config>
